* {
  box-sizing: border-box;
}

/* BASICS */

body {
  margin: 0;
}

footer {
  background: #40704c;
  padding: 4rem 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #3b4457;
}

button {
  padding: 0;
  cursor: pointer;
}

img {
  width: 100%;
}

/* HELPERS */

/* flex */

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.content-center {
  justify-content: center;
}

/* list helpers */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* LAYOUT */

.main-layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}
  @media (min-width: 840px) {
    .main-layout {
      max-width: 790px;
    }
  }
  @media (min-width: 1030px) {
    .main-layout {
      max-width: 981px;
    }
  }

/* COMPONENTS */

/* MAIN HEADER */

.main-header {
  height: 4.125rem;
  background-color: #40704c;
  position: fixed;
  width: 100%;
}

.header-container {
  height: 100%;
}

/* main-nav */

.main-nav {
  height: 100%;
}

.main-nav li {
  width: 7.187rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav li:hover > a {
  color: #3b4457;
}

/* MAIN CONTENT */

.main-content {
  padding: 7rem 0;
}

/* gallery */

.grid {
  padding-top: 2rem;
  display: grid;
  grid-auto-flow: dense;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.img {
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  cursor: pointer;
}




